@using KMS.Application.Dtos.OrganizationDto;
@model OrganizationAddViewModel

@{
    var OrganizationTrees = (List<OrganizationTree>)ViewBag.OrganizationTree;
}



@section Styles{
    <link href="/assets/plugins/fontawesome-free/css/all.min.css" rel="stylesheet">

    <link href="/assets/plugins/treeview/treeview-rtl.css" rel="stylesheet" type="text/css" />
 	}





<div class="row  justify-content-center mt-4">
    <div class="col-lg-8 col-xl-8 col-md-10 col-12">
        <div class="card  box-shadow-0">
            <div class="card-header">
                <h4 class="card-title mb-1">فرم پیش فرض</h4>
                <p class="mb-2">سفارشی سازی آن بسیار آسان است و از آن در پیاده سازی وب سایت شما استفاده می شود.</p>
            </div>
            <div class="card-body pt-0">
                <form class="form-horizontal" method="post" asp-area="Admin" asp-controller="Article" asp-action="CreateArticle" enctype="multipart/form-data">
                    <div class="form-group">
                        <input asp-for="PersianTitle" class="form-control" placeholder="نام سازمان">
                    </div>
                    <div class="form-group">
                        <input asp-for="ParentId" id="ParentId_Organization" class="form-control" placeholder="سرشاخه" >
                    </div>
                    <div>
                        <div class="col-md-12">

                            <div class="card">
                                <div class="card-body">
                                    <div class="main-content-label mg-b-5">
                                        سبک های نمایش درخت
                                    </div>
                                    <p class="mg-b-20">سفارشی سازی آن بسیار آسان است و از آن در پیاده سازی وب سایت استفاده می شود.</p>
                                    <div class="row">
                                        <!-- col -->
                                        <div class="col-12">
                                            <ul id="tree1">
                                                @{
                                                    @if (OrganizationTrees != null && OrganizationTrees.Count > 0)
                                                    {
                                                        foreach (var item in OrganizationTrees)@*LEVEL 1*@
                                                        {
                                                            <partial name="_TreePartial" model="item" />
                                                        }
                                                    }
                                                }

                                            </ul>
                                        </div>
                                        <!-- /col -->

                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="form-group">
                        <input asp-for="SortingNumber" class="form-control" placeholder="ترتیب نمایش">
                    </div>


                    <div class="form-group mb-0 mt-3 justify-content-end">
                        <div>
                            <button type="submit" class="btn btn-primary">ورود</button>
                            <button type="submit" class="btn btn-secondary">لغو</button>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary  margin-left-10px">ذخیره</button>
                        <button type="reset" class="btn btn-secondary  margin-left-10px">بازنشانی</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



@section Scripts{

    <script src="/assets/plugins/treeview/treeview.js"></script>
    <script type="text/javascript">
        function AssignToTextBox() {
            debugger;
            console.log(document.getElementById("ParentId_Organization").textContent);
            document.getElementById("ParentId_Organization").innerHTML = "Hello World";
        }
    </script>
}
